/**
 * Float Layout Activity 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

/* STUDENTS 
 * ========

	* Introduce yourself to 1-2 people next to you.

  * Then using `floats.html` and `floats.css` as a starting point, 
    work together to create the missing CSS necessary to create 
    the layout shown to you on screen. 

    * This will not be easy so work at it as best you can. 
      At the very least, try to increase your understanding of CSS properties.

    * Hint: Concentrate on first figuring out how to create the boxes. 
            Think about using background colors (css property: `background`). 

    * Hint: We've provided the styling you need for the header element. 
            Use this as a starting point to style the others. 

    * Hint: You will need to apply each of the following css properties at least once:
      * padding
      * margin
      * background
      * float
      * width (Read up on width by percents)
      * color
      * clear
      * overflow
      * height
      * font-size
      * line-height

  * If you finish early slack the TAs or raise your hand to call their attention. TAs will reassign you to help others in the class.
*/


body {
  font-size: 24px;
}

header {
padding: 20px;
background: #ccc;
margin-bottom: 20px;

}

section { 
 padding: 20px;
 margin-bottom: 20px;
}

#left {
 background: #666;
 float: left;
 color: white;
 width: 33%;

}

#middle {
background: #888; 
float: left;
color: white;
width: 33%;
}

#right {
background: #666;
float: left;
color: white;
width: 33%;
}

#full {
overflow: auto;
clear: both;
background: #eee;
width: 100%

}

#division {
background: #6ea3da;
padding: 20px;

}

aside {
background: #fff;
width: 33%;
height: 200px;
border: 1px solid #eee;
padding: 20px;
float: left;
margin-left: 30px;
}

footer {
 clear: both;
 background: #ccc;
 padding: 20px;
 